body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("../bg.jpg");
    background-size: cover;
}

nav {
    margin: 0;
}

.transparent {
    background-color: rgba(0,0,0,0);
}

.static-background {
    background-image: url("../bg.jpg");
    background-size: cover;
}


nav {
    text-align: center;
}

nav>ul {
    margin: 0;
    padding: 0;
    background-color: rgba(14, 71, 146, 0);
    list-style-type: none;
    display: block;
}

nav>ul>li {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    color: white;
    font-size: 20pt;
    font-weight: 600;
    font-family: sans-serif;
    text-shadow: 1px 1px 4px black;
    text-transform: uppercase;
    padding: 32px 32px;
    width: auto;
    display: inline-block;
    cursor: pointer;
}

nav>ul>li:hover {
    background-color: #0a3063;
    text-shadow: none;
}

nav>ul>li>a:visited,
nav>ul>li>a {
    color: white;
    text-decoration: none;
}

.portrait-wrapper {
    text-align: center;
}

.scroll-up {
    width: 48px;
    height: 48px;
    margin: 1em;
    padding: 8px;
    left: 92%;
    top: 80%;
    cursor: pointer;
    position: absolute;
    background-color: #0e4792;
    color: white;
    content: url("../arrow.png");
}

.portrait {
    border: 5px solid white;
    box-shadow: 1px 1px 2px 1px black;
    border-radius: 50%;
    height: 512px;
    position: relative;
    margin: 64px 0;
    padding: 0;
    display: inline-block;

}

.section-container {
    padding: 0;
    margin: 0;
    background-color: #303030;
    color: white;
}

.section-title {
    cursor: pointer;
    text-align: right;
    padding: 2em 16% 2em 0em;
    margin: 0;
    color: white;
    text-transform: uppercase;
    /* background-color: #0e4792; */
    background: linear-gradient(135deg , #0e4792 66%, #0a3063 33%);
}

.section-body {
    text-align: justify;
    font-family: sans-serif;
    font-size: 14pt;
    margin: 0;
    padding: 2em 12em;
}


@media only screen and (max-width: 960px) {
    .section-body {
        padding: 2em;
    }

    .section-title {
        background: linear-gradient(135deg , #0e4792 50%, #0a3063 50%);
    }
}

.section-container:nth-child(2n) {
    background-color: #f0f0f0;
    color: black;
}

.accolades-body {
    text-align: center;
}

.accolade {
    display: inline-block;
    margin: 0 32px;
}

.accolade>img {
    transition: 300ms;
    height: 128px;
    filter: grayscale(100%);
    cursor: pointer;
}

.accolade:hover img {
    transition: 300ms;
    height: 184px;
    filter: none;
}

.footer {
    text-align: center;
    font-family: sans-serif;
    font-size: 14pt;
    color: #808080;
    background-color: #d0d0d0;
    padding: 32px 128px;
}

.hidden {
    display: none;
}

.inspector {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0.1, 0.1, 0.1, 0.7);
    text-align: center;
}

.inspector > .img-wrapper {
    height: 80%;
}

.inspector > .img-wrapper > img {
    height: 80%;
}

.inspector > div > p {
    color: rgb(248, 240, 202);
    font-size: 18pt;
    height: 20%;
}

.inspector > .button-wrapper {
    margin: 5% 0;
}

.inspector .close {
    margin: auto;
    padding: auto;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: auto;
    font-family: sans-serif;
    font-size: 16px;
    padding: 32px;
    border-radius: 50%;
}

.disable-scroll {
    height: 100%;
    overflow: hidden;
}